<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eco-Food</title>
</head>
<body>
<div>
  <h1>Eco-Food</h1>
  <p>Website Description Here</p>
  <p>blah blah</p>
  <form method="post" action="/logout">
    <button type="submit">Logout</button>
  </form>
  <form method="post" action="/account">
    <button type="submit">Account Details</button>
  </form>
  <form method="post" action="/storenav">
    <button type="submit">Stores/Restaurants</button>
  </form>
  <form method="post" action="/privacyPolicynav">
    <button type="submit">Privacy Policy</button>
  </form>
  <form method="post" action="/questionnav">
    <button type="submit">Any Question ? </button>
  </form>
</div>

</body>
</html>