<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store/Restaurant Finder</title>
</head>
<body>
<div>
  <h1>Store/Restaurant Finder</h1>
  <p>Website Description Here</p>
  <form method="post" action="/logout">
    <button type="submit">Logout</button>
  </form>
  <form method="post" action="/mainpage">
      <button type="submit">Home</button>
  </form>
    <form method="post" action="/restaurantnav">
        <button type="submit">restaurant</button>
    </form>
</div>

</body>
</html>